.main_container {
    display: flex;
    min-height: 100vh;
    padding: 25px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.header {
    flex: 1;
}
.tv_show_detail {
    flex: 2;
}
.recommentations {
    flex: 1;
}